.belleyou-stories {
    display: none;
    margin-bottom: 50px;
}

.widget-stories {
    overflow-x: auto;
}
.widget-stories__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max-content;
    gap: 10px;

    margin: 0;
    padding: 0 15px 10px;
}
.widget-stories__story {
    width: 106px;
    padding-top: 2px;
}
.widget-stories__story:last-child {
    margin-right: 0;
}
.widget-stories__story-link {
    display: block;

    text-decoration: none;
    cursor: pointer;
}
.widget-stories__story-preview {
    position: relative;

    width: 100px;
    height: 150px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin: 0 0 10px 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.widget-stories__story-preview::before {
    content: "";
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;

    border: 1px solid var(--bg-color-main__extra);
    border-radius: 4px;
}
.widget-stories__story-text {
    display: block;
    max-height: 28px; /* чтобы текста было не больше двух строк */
    overflow: hidden;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* попап со сториз */

.widget-stories__fullstory {
    display: none;

    position: fixed;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #333333;

    z-index: 11;
}
.widget-stories__fullstory._opened {
    display: block;
}

.fullstory__wrapper {
    /*position: relative;*/
}
.fullstory-header {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 96px;
    background-image: linear-gradient(180deg, rgba(16, 16, 16, 0.25) 0%, rgba(16, 16, 16, 0) 95%);

    z-index: 1;
}

.fullstory__button-close {
    position: absolute;
    top: 40px;
    right: 16px;

    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;

    font-size: 0;
    text-indent: -9999px;
}
.fullstory__button-close::before,
.fullstory__button-close::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 12px;
    height: 16px;
    width: 1px;
    background-color: #ffffff;
}
.fullstory__button-close:before {
    transform: rotate(45deg);
}
.fullstory__button-close:after {
    transform: rotate(-45deg);
}
.fullstory-header__info {
    display: flex;
    align-items: center;

    padding: 33px 15px 0;
}
.fullstory-info__thumb {
    width: 40px;
    height: 40px;

    border: 1px solid var(--bg-color-main);
    border-radius: 40px;
    margin-right: 12px;

    background-size: cover;
}
.fullstory-info__title {
    margin: 0;

    font-size: 12px;
    line-height: 15.5px;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.fullstory-slider {

}
.fullstory-slider__slide {
    position: relative;

    height: 100vh;
    background-size: cover;
}

.fullstory-slider__slide picture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fullstory-slider__slide picture img {
    width: 100%;
    height: 100%;
}

.fullstory-content__wrapper {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    box-sizing: border-box;
    padding: 0 16px 116px;
    width: 100%;
    height: 40%;

    background-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.5) 100%);
    color: #ffffff;
}
.fullstory-content-title {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 23px;
}
.fullstory-content-text {
    margin: 0 0 24px;
}


/* slider controls */
/* stripes */
.fullstory-slider .slick-dots {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;

    margin: 0;
    padding: 0;

    z-index: 2;
}
.fullstory-slider .slick-dots li {
    position: relative;
    flex-grow: 1;

    display: block;
    height: 3px;

    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.fullstory-slider .slick-dots li button{
    display: none;
}
.fullstory-slider .slick-dots li::after {
    content: '';

    display: block;
    width: 0;
    height: 100%;

    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
}
.fullstory-slider .slick-dots li.slide-seen::after {
    width: 100%;
}
.fullstory-slider .slick-dots li.slick-active::after {
    animation: loadingStatus 7s linear forwards;
}
@keyframes loadingStatus {
    from { width: 0; }
    to { width: 100%; }
}

/* buttons */
.fullstory-slider .slick-prev,
.fullstory-slider .slick-next {
    position: absolute;
    top: 58px;
    bottom: 0;
    left: 0;
    height: auto;

    width: 25%;

    font-size: 0;
    background: transparent;
    border: none;

    cursor: pointer;

    z-index: 2;

}
.fullstory-slider .slick-next {
    left: auto;
    right: 0;
}
.fullstory-slider .slick-prev::before,
.fullstory-slider .slick-next::before {
    display: none;
}

.fullstory-slider .slick-track,
.fullstory-slider__slide {
    min-width: 100vw !important; /*фикса для баги слайдера */
    opacity: 1 !important;
}


@media only screen and (max-width: 1023px) {
    .belleyou-stories {
        display: block;
    }
}