.belleyou-sidebar {
	position: fixed;
	top:0;
	width: 100%;

	z-index: 9;
}

.belleyou-sidebar__backdrop {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(31, 32, 32, 0.2);
}

.belleyou-sidebar__backdrop {
	opacity: 0;
	visibility: hidden;
	transition: all .3s cubic-bezier(.39,.575,.565,1);
}

.belleyou-sidebar._opened .belleyou-sidebar__backdrop{
	opacity: 1;
	visibility: visible;
}

.belleyou-sidebar-menu {
	position: fixed;

	width: var(--belleyou-sidebar-width);
	height: 100vh;
	padding-top: var(--belleyou-header);
	background-color: #ffffff;
}

.belleyou-sidebar-menu {
	overflow-y: auto;
	scrollbar-width: none;

	transform: translateX(-100%);
	transition: all .3s cubic-bezier(.39,.575,.565,1);
}
.belleyou-sidebar._opened .belleyou-sidebar-menu{
	transform: translateZ(0);
}

.belleyou-sidebar-menu._panel-opened {
	width: 100vw;
}

.belleyou-sidebar-menu__wrapper {
	position: relative;
	overflow: hidden; /* фикс бага с position:fixed + transform */

	width: var(--belleyou-sidebar-width);
	background-color: #ffffff;
}
.belleyou-sidebar-menu._panel-opened .belleyou-sidebar-menu__wrapper {
	overflow: visible;
}


.belleyou-sidebar-menu__content {
	padding: 40px;
}

.belleyou-sidebar-list {
	padding: 0 0 20px;
	margin: 0;
}
.belleyou-sidebar-list:last-child {
	padding-bottom: 0;
}
.belleyou-sidebar-item {
	margin-bottom: 21px;
}
.belleyou-sidebar-item__marked {
	position: relative;
	padding-left: 20px;
}
.belleyou-sidebar-item__marked::before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -4px;
	left: 0;

	width: 8px;
	height: 8px;
	border-radius: 8px;
	background-color: var(--bg-color-main__extra);
	margin-right: 10px;
	vertical-align: top;
}
.belleyou-sidebar-item__with-panel .belleyou-sidebar-item__link {
	position: relative;
	padding-right: 23px;
}
.belleyou-sidebar-item__with-panel .belleyou-sidebar-item__link::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -9px;

	width: 18px;
	height: 18px;
	background-image: url(../img/icn-arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.belleyou-sidebar-item__link {
	font-family: var(--font-family-header);
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: uppercase;

	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	transition: background-size .3s;
}
.belleyou-sidebar-item__link:hover,
.belleyou-sidebar-item__link._active {
	font-weight: 500;
	/*text-decoration: underline;*/

	background-size: 100% 1px;
}


/* меню второго уровня */
.belleyou-sidebar-panel {
	position: absolute;
	top: 0;
	width: calc(100vw - var(--belleyou-sidebar-width));
	height: 100%;
	background-color: #ffffff;

	left: -70%;
	/*padding-top: var(--belleyou-header);*/
}

.belleyou-sidebar-panel {
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);
	transition: all .3s cubic-bezier(.39,.575,.565,1);

	z-index: -1;
}
.belleyou-sidebar-panel._opened {
	opacity: 1;
	visibility: visible;
	left: var(--belleyou-sidebar-width);

	transform: translateZ(0);
}

.button-submenu-open {
	cursor: pointer;
}

.belleyou-sidebar-panel__wrapper {
	display: flex;
	flex-direction: row;

	padding: 40px;
}

.sidebar-panel-list {
	flex-shrink: 0;

	width: 287px;
	margin: 0 0 0 23px;
	padding: 0;
}
.sidebar-panel-item {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 21px;
}
.sidebar-panel-item--name {
	margin-bottom: 20px;
	opacity: 1;
}
.sidebar-panel-item--name .h4{
	margin: 0;

	font-size: 12px;
	line-height: 15.6px;
	font-weight: 500;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.sidebar-panel-item--all {
	margin-bottom: 20px;
}
.sidebar-panel-item a{
	opacity: 0.8;
	text-decoration: none;

	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	transition: background-size .3s;
}
.sidebar-panel-item a:hover {
	/*text-decoration: underline;*/

	background-size: 100% 1px;
}

.label-new {
	display: inline-block;
	vertical-align: middle;
	top: unset;

	padding: 2px 6px;
	background-color: var(--bg-color-main);
	border-radius: 2px;

	text-transform: uppercase;
	font-family: var(--font-family-header);
	font-size: 10px;
	line-height: 13px;
	color: var(--font-color-secondary);
}
.sidebar-panel-innerlist {
	margin: 20px 0;
	padding: 0 0 0 20px;
	border-left: 1px solid var(--bg-color-main);
}

.sidebar-panel-banner {
	margin-top: 0;
	margin-left: auto;
	overflow: hidden;
}
.sidebar-panel-banner img{
	width: auto;
	/*height: 100%; */
	max-height: 800px;
}

.belleyou-sidebar-menu__header-mobile {
	display: none;

	flex-direction: column;
	align-items: flex-end;

	padding: 15px 15px 10px;
}
.button-close-sidebar__mobile {
	display: block;

	margin-left: auto;
	padding: 0;
	width: 24px;
	height: 24px;
	background-image: url(../img/icn-close.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;

	cursor: pointer;
}
.belleyou-sidebar-menu__header-mobile .button-close-sidebar__mobile {
	margin-bottom: 15px;
}

.button-back-panel__mobile {
	display: block;

	margin-right: 10px;
	padding: 0;
	width: 24px;
	height: 24px;
	background-image: url(../img/icn-arrow-left.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;

	cursor: pointer;
}

.form-search-mobile {
	width: 100%;
}
.form-search-mobile .form-catalog-search-wrapper {
	margin-bottom: 0;
}

.belleyou-sidebar-menu__footer-mobile {
	display: none;

	border-top: 1px solid var(--bg-color-main);
	padding: 40px 0 0;
	margin: 0 15px;
}
.footer-mobile__menu {
	margin: 0;
	padding: 0;
}
.footer-mobile__menu li a{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
	gap: 10px;

	text-decoration: none;
	font-size: 16px;
	line-height: 21px;
}
.footer-mobile__menu li a svg{
	width: 24px;
	height: 24px;
}

.belleyou-sidebar-panel__header-mobile {
	display: none;

	flex-direction: row;
	justify-content: flex-start;

	padding: 20px 15px 0;
	margin-bottom: 25px;
}
.sidebar-panel__title {
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;

}

.belleyou-searchbar-mobile {
	display: none;
}

@media only screen and (max-width: 1439px) {
	.belleyou-sidebar-menu__content {
		padding: 20px;
	}
	.belleyou-sidebar-panel__wrapper {
		padding: 20px;
	}
	.belleyou-sidebar-menu,
	.belleyou-sidebar-menu__wrapper	{
		width: var(--belleyou-sidebar-width-small);
	}
	.belleyou-sidebar-panel {
		width: calc(100vw - var(--belleyou-sidebar-width-small));
	}
	.belleyou-sidebar-panel._opened {
		left: var(--belleyou-sidebar-width-small);;
	}

	.sidebar-panel-list {
		margin-left: 0;
	}

	.sidebar-panel-banner {
		max-width: 300px;
	}
	.sidebar-panel-banner img {
		height: auto;
	}
}
@media only screen and (max-width: 1199px) {
	.sidebar-panel-banner {
		display: none;
	}
}

@media only screen and (max-width: 1023px) {
	.belleyou-sidebar {
		z-index: 11; /* чтобы перекрывал шапку в мобилке */
	}
	.belleyou-sidebar-menu__wrapper {
		width: 100%;
	}
	.belleyou-sidebar-menu {
		width: 100%;
		max-width: 450px;
		padding-top: 0;
	}
	.belleyou-sidebar-menu._panel-opened {
		width: 100%;
	}
	.belleyou-sidebar-menu._panel-opened .belleyou-sidebar-menu__wrapper {
		overflow: hidden;
	}

	.belleyou-sidebar-menu__content {
		padding: 30px 15px 0;
		margin-bottom: 40px;
	}
	.belleyou-sidebar-menu__header-mobile {
		display: flex;
	}
	.belleyou-sidebar-menu__footer-mobile {
		display: block;
		padding-bottom: 110px;
	}

	.belleyou-sidebar-panel {
		width: 100%;
		padding-top: 0;

		z-index: 1;

		left: 100%;

		transform: translateX(100%);
	}
	.belleyou-sidebar-panel._opened {
		left: 0;
	}

	.belleyou-sidebar-item__with-panel .belleyou-sidebar-item__link {
		width: 100%;
		display: block;
	}

	.belleyou-sidebar-item__link {
		background: none;
		text-decoration: none;
	}
	.belleyou-sidebar-item__link:hover {
		text-decoration: underline;
	}

	.belleyou-sidebar-panel__header-mobile {
		display: flex;
	}

	.belleyou-sidebar-panel__wrapper {
		flex-direction: column;
		padding: 15px;
	}
	.sidebar-panel-list {
		margin-bottom: 20px;
	}

	.belleyou-sidebar-menu__header-mobile {
		height: 120px;
	}
	.belleyou-sidebar-menu__header-mobile.searchbar-sticky-header {
		position: relative;
		padding-bottom: 10px;
		box-shadow: 0px 4px 16px 0px rgba(31, 31, 31, 0.15);
	}
	.form-search-mobile .form-catalog-search-wrapper {
		overflow: hidden;
	}

	.belleyou-searchbar-mobile {
		padding: 0 15px;
		height: calc(100vh - 120px);
	}

	.belleyou-searchbar-mobile .catalog-search-content {
		height: calc(100vh - 120px);
		padding: 0;
	}
	.belleyou-searchbar-mobile .catalog-search-content__inner {
		padding-top: 30px;
	}
	.belleyou-searchbar-mobile .catalog-search-content.with-footer {
		height: calc(100vh - 275px);
	}

}

