.maksv-filter {
    position: fixed;
    top:0;
    width: 100%;

    z-index: 11; /* должна перекрывать шапку */
}
.maksv-filter__backdrop {
    position: absolute; 
    width: 100%;
    height: 100vh;
    background-color: rgba(31, 32, 32, 0.2);
}

.maksv-filter__backdrop {
    opacity: 0;
    visibility: hidden;
    transition: all .3s cubic-bezier(.39,.575,.565,1);
}

.maksv-filter._opened .maksv-filter__backdrop{
    opacity: 1;
    visibility: visible;    
}
.maksv-filter-body {    
    position: fixed;
    right: 0;
    
    width: var(--maksv-popup-width);
    height: 100vh;
    background-color: #ffffff;

    overflow: hidden;
}

.maksv-filter-body {
    transform: translateX(100%);
    transition: all .3s cubic-bezier(.39,.575,.565,1);
}
.maksv-filter._opened .maksv-filter-body {
    transform: translateZ(0);
}

.maksv-filter-content {
    height: 100vh;  
    padding: 40px;  
    display: flex;
    flex-direction: column;
}

.maksv-filter-content__inner {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.maksv-filter-content__inner::-webkit-scrollbar {
  width: 0;
}


.maksv-filter-сlose {
    position: absolute;
    top: 40px;
    right: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-image: url(../img/icn-close.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;  

    text-indent: -9999px;
    cursor: pointer;
}

.maksv-filter-title {
    margin: 0 0 40px;
    font-size: 18px;
    line-height: 23px;
    
    font-family: var(--font-family-header);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02em;    
}

.maksv-filter-sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    box-shadow: 0px 0px 16px rgba(31, 32, 32, 0.1);
    background-color: #ffffff;
    padding: 15px 40px 40px;

    z-index: 1;
}
.maksv-filter-sticky-footer .button {
    width: 100%;
    margin-top: 10px;
}
.maksv-filter-sticky-footer .button:first-child {
    margin-top: 0;
}

.smartfilter-section {
    margin-bottom: 20px;
    
    border-bottom: 1px solid var(--bg-color-main);
}
.smartfilter-section:last-child {
    border-bottom: none;
}
.smartfilter-section-header {
    padding-bottom: 15px;
    
    cursor: pointer;  
}
.smartfilter-section-title {
    position: relative;
    margin: 0 0 5px;
    
    font-family: var(--font-family-header);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 12px;
    line-height: 15px;               
}
.smartfilter-section-title::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url(../img/icn-arrow-down.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.smartfilter-section._opened .smartfilter-section-title::after {
    transform: rotate(180deg);
}
.smartfilter-section-body {
    display: none;
}
.smartfilter-section._opened .smartfilter-section-body {
    display: block;
}
.smartfilter-selected-items {
    margin: 0 20px 0 0;

    font-size: 12px;
    line-height: 15.5px;
    opacity: 0.8;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.smartfilter-selected-item::after {
    content: ', ';
}
.smartfilter-selected-item:last-child::after {
    content: '';
}

.smartfilter-list {
    margin: 0;
    padding: 5px 0 0 0;
}
.smartfilter-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}
.item-amount-zero {
    opacity: 30%;
}
.smartfilter-item-checkbox {
    position: relative;
}
.smartfilter-list-item .label-checkbox {
    display: flex;
    padding-top: 1px;
}
.smartfilter-list-item .input-checkbox + label::before {
    width: 18px;
    height: 18px;
}
.smartfilter-item-label {
    padding-right: 28px;
    opacity: 0.9;
    line-height: 22px;
    text-transform: capitalize;
}
.smartfilter-item-color-preview {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.with-border {
    border: 1px solid #E3E3E3;
}
.smartfilter-item-counter {
    opacity: 0.9;    
}

.popup-catalog-sort .sortings-list {
    margin: 0;
    padding: 0;
}
.popup-catalog-sort .sortings-list li{
    margin-bottom: 20px;
}

/* тествое для попапов, потом попробовать глобально */
/* внутренний скроллбар если контента больше чем на попап */
/*.maksv-filter-content__inner {
    padding-right: 40px;
    box-sizing: content-box;
}*/

.smartfilter {
    overflow-y: auto;

    padding-right: 20px;
    margin-right: -20px;

    padding-bottom: 100px; /* отступ для кнопки, которая прилипает снизу */
}

.maksv-filter-сlose {background-color: #fff;z-index: 1}

@media only screen and (max-width: 1023px) {
    .maksv-filter-body {
        width: 100%;
    }
    .maksv-filter-content {
        padding: 20px 15px 30px;
    }
    .maksv-filter-сlose {
        top: 20px;
        right: 15px;
    }
    .maksv-filter-sticky-footer {
        padding: 15px 15px 120px;
    }
}