.page-loyalty-header {
	position: relative;
	display: flex;

	width: 100%;
	height: calc(100vh - var(--belleyou-header));

	margin-bottom: 120px;

	background-image: url(../demo-pics/pl1920.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

	color: #FFFFFF;
}
.page-loyalty-header::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0.15) 100%);
}

.page-loyalty-header-inner {
	position: relative;
	width: 300px;
	margin: auto auto 80px;

	text-align: center;
}

.page-loyalty-body {
	width: 1165px;
	margin: 0 auto;
}
.page-loyalty-title {
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 21px;
}
.page-loyalty-header-logo {
	display: inline-block;
	margin-bottom: 20px;
}
.page-loyalty-header-logo svg {
	display: block;
}

.page-loyalty-subtitle {
	margin: 0 0 20px;

	text-align: center;
	font-size: 24px;
	line-height: 29px;
}
.page-loyalty-intro {
	margin: 0 0 40px;
	text-align: center;
}

.page-loyalty-section {
	margin-bottom: 120px;
}
.howitworks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;   
}
.howitworks__item {
    width: 24%;

    text-align: center;
}
.howitworks__item svg {
    margin: 0 auto 10px;
}
.howitworks__step {
    margin: 0;

    text-align: center;
    color: var(--font-color-blue);
}
.howitworks__details {
	margin: 0;
}

.statuses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 40px;
}

.status {
	max-width:33%;
    border: 1px solid var(--bg-color-main);
    border-radius: 4px;
    padding: 20px;
}
.status-level-box {
	display: flex;
	margin-bottom: 10px;
}
.page-loyalty-level-icon {
  display: block;
  width: 50px;
  height: 50px; 
  margin-right: 10px; 

  border: 1px solid var(--bg-color-main);
  border-radius: 50px;
  background-image: url(../img/icn-favorite-filled.svg);
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: 30px;
}
.status h4 {
	margin: 0 0 5px;
}
.status__money {
	margin-bottom: 20px;
}
.status__counts-box {
	margin-bottom: 40px;
}
.status__counts {
    margin: 0 0 10px;

    font-size: 14px;
    line-height: 18px;
    font-family: var(--font-family-header);
    color: var(--font-color-blue);
    text-transform: uppercase;
}

.status__counts span {
    font-size: 24px;
    line-height: 29px;
}

.status__options-box ul {
	margin: 10px 0 0 0;
	padding: 0 0 0 20px;
}
.status__options-box ul li {
	list-style: decimal;
	padding-bottom: 5px;
}
.status__option:last-child {
    margin-bottom: 0;
}
.page-loyalty-statuses .button {
	display: block;
	margin: 0 auto;
	width: 300px;	
}

.additionals-list {
	display: flex;
	justify-content: space-between;
}
.additionals-list ul {
	width: 47%;
}
.additionals-list ul li{
	padding-bottom: 5px;
	
	list-style: disc;
}
.page-loyalty-header .button-mobile {
	display: none;
}

/* слайдер */

.statuses-slider {
	position: relative;
	padding-bottom: 16px;	
}
.statuses-slider .status {
	height: 461px;
	margin-bottom: 0;		
}

.statuses-slider .slick-dots {
    position: absolute;
    width: 100%;
    bottom: 0px;

    padding: 0;
    margin: 0;

    list-style: none;
}
.statuses-slider .slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0;
    padding: 0;
}
.statuses-slider .slick-dots li {
    position: relative;

    width: 6px;
    height: 6px;
    margin: 0 10px;

    border: 1px solid var(--bg-color-main__extra);
    border-radius: 6px;

    cursor: pointer;
}
.statuses-slider .slick-dots li button {
    display: none;
}

.statuses-slider .slick-dots li.slick-active {
    background-color: var(--bg-color-main__extra);
}


@media only screen and (max-width: 1439px) {
	.page-loyalty-header {
		margin-bottom: 80px;

		background-image: url(../demo-pics/pl1024.jpg);
	}	
	.page-loyalty-header-inner {
		margin-bottom: 80px;
	}
	.page-loyalty-section {
		margin-bottom: 80px;
	}
	.page-loyalty-body {
		width: 100%;
		padding: 0 20px;
	}
}
@media only screen and (max-width: 1023px) {
	.page-loyalty-header {
		height: 150vw;
		min-height: 450px;

		margin-top: -20px;
		margin-bottom: 60px;
	}	
	.page-loyalty-section {
		margin-bottom: 60px;
	}

	.statuses-slider {
		display: block;

		width: 100%;
		max-width: 384px;
		min-width: 300px;
		margin: 0 auto 24px;
	}
	.statuses-slider .status {
		height: 461px;
		margin-bottom: 0;	
		max-width: unset;
	}

}

@media only screen and (max-width: 760px) {
	.page-loyalty-header {
		background-image: url(../demo-pics/plmobile.jpg);
		background-position: top center;

		color: var(--font-color);
	}	
	.page-loyalty-header-inner {
		margin-top: 40px;
		margin-bottom: 0;
	}	
	.page-loyalty-body {
		padding: 0 15px;
	}
	.page-loyalty-header-logo svg path{
		fill: var(--font-color);
	}
	.page-loyalty-header .button{
		display: none;
	}
	.page-loyalty-header .button-mobile {
		display: block;
	}
	.page-loyalty-subtitle {
		font-size: 18px;
		line-height: 24px;
		text-align: left;
	}
	.page-loyalty-intro {
		text-align: left;		
	}
	.howitworks {
		flex-direction: column;
	}
	.howitworks__item {
		position: relative;
		padding-left: 58px;
		padding-top: 5px;

		width: 100%;
		margin-bottom: 40px;
		text-align: left;
	}
	.howitworks__item:last-child {
		margin-bottom: 0;
	}
	.howitworks__step {
		text-align: left;
	}
	.howitworks__step br {
		display: none;
	}
	.howitworks__item svg {
		position: absolute;
		left: 0;
		top: 0;
	}
	.additionals-list {
		flex-direction: column;
	}
	.additionals-list ul {
		width: 100%;
		margin: 0;
		padding-left: 15px;
	}
}
